<div id="content-list">
	<h2 {{action 'onRenderButtonClick' '' ''}}>{{subRoute}}</h2>
	<h3>{{renderedComponent}} (Test info)</h3>
	{{#program-listitem programs=model.programs as |program|}}
		{{#if program.semesters}}
			{{#semester-listitem semesters=program.semesters as |semester|}}
				{{#if semester.courses}}
					{{#each semester.courses as |course|}}
						<li {{action 'onItemClicked' course}}>{{course.name}}</li>
					{{/each}}
				{{/if}}
				{{#if semester.students}}
					{{#each semester.students as |student|}}
						<li {{action 'onItemClicked' student}}>{{student.name}}</li>
					{{/each}}
				{{/if}}
			{{/semester-listitem}}
		{{/if}}
		{{#if program.users}}
			{{#each program.users as |user|}}
				<li {{action 'onItemClicked' user}}>{{user.name}}</li>
			{{/each}}
		{{/if}}
	{{/program-listitem}}
	<button {{action 'onEditClicked'}}> Edit </button>
	<button {{action 'onRenderButtonClick' 'form' 'test'}}> Test </button>

</div>
<div id="main-content">
	{{#if renderType}}
        {{component
            renderedComponent
			controlType=controlType
            data=data
            subRoute=subRoute
			permission=permission
            onRenderButtonClick=(action 'onRenderButtonClick')
        }}
    {{else}}
        <h3>Select something from the left</h3>
    {{/if}}
</div>

{{yield}}
