{{#program-listitem programs=model.programs as |program|}}
	{{#if program.semesters}}
		{{#semester-listitem semesters=program.semesters as |semester|}}
			{{#if semester.courses}}
				{{#each semester.courses as |course|}}
					<li>{{course.name}}</li>
				{{/each}}
			{{/if}}
			{{#if semester.students}}
				{{#each semester.students as |student|}}
					<li>{{student.name}}</li>
				{{/each}}
			{{/if}}
		{{/semester-listitem}}
	{{/if}}
	{{#if program.users}}
		{{#each program.users as |users|}}
			<li {{action 'listSelected'}}>{{users.name}}</li>
		{{/each}}
	{{/if}}
{{/program-listitem}}
<div>
	<p>The counter is {{counter}}</p>
</div>

{{yield}}
