{{#lf-form rules=rules}}

  {{lf-input

    name="Name"
    label="Name"
    property=data.name
    on-update=(action (mut data.name))
    validate=validate
  }}

  {{lf-input
    name="username"
    label="Username"
    property=data.username
    on-update=(action (mut data.username))
    validate=validate
  }}

{{/lf-form}}

<button {{action 'removeConnection' data}}> console log attributes.</button>
<div>{{data.jobTitle}}</div>

{{yield data}}