<ul class="nav-sideBar">
	{{#each Nav.program as |program|}}
		<ul>
			<p>{{program.name}}</p>
			{{#each program.semester as |semester|}}
				<ul>
					<p>{{semester.name}}</p>
					{{#each semester.courses as |courses|}}
						<ul>
							<li {{action navSelection}}>
								{{courses.name}}
							</li>			
						</ul>
					{{/each}}					
				</ul>
			{{/each}}
		</ul>
	{{/each}}
</ul>
{{yield}}
