<button {{action 'addOffering'}}>
	Add Offering
</button>
<button {{action 'addUser'}}>
	Add User
</button>
  {{#each model.offerings key='id' as |offering|}}
    {{#form-offering data=offering as |data|}}
      <button {{action 'submitRecord' data}}> Submit </button>
      <button {{action 'deleteRecord' data}}> Delete </button>
    {{/form-offering}}
  {{/each}}

  {{#form-offering data=model.offering as |data|}}
    <button {{action 'submitRecord' data}}> Submit </button>
  {{/form-offering}}

  {{#each model.users key='id' as |user|}}
    {{#form-user data=user as |data|}}
      <button {{action 'submitRecord' data}}> Submit </button>
    {{/form-user}}
  {{/each}}

  {{#form-user data=model.user as |data|}}
    <button {{action 'submitRecord' data}}> Submit </button>
  {{/form-user}}

  {{#each model.courses as |course|}}
    <div> {{course.prefixId.prefix}} </div>
  {{/each}}

  {{#each model.outcomes as |outcome|}}
    <div> {{outcome.metricId.programId.name}} </div>
  {{/each}}

  {{#each model.metrics as |metric|}}
    <div> {{metric.programId.name}}</div>
  {{/each}}


{{outlet}}
